*{
    box-sizing: border-box;
}
.hed{
    background-color: rgb(15, 11, 42);
    height: 70px;
    
}
.hedpos{
    float: right;
}

.hedbtn{
    background-color: transparent;
    border: none;
    outline: none;
    color:white;
    margin: 1.5em 0em 0em 1em;
    cursor: pointer;
}
