.hed{
    background-color: rgb(15, 11, 42);
    padding: 1em;
}
.hedpos{
    display: flex;
    justify-content: right;
}


.comhed {
    background-color: rgb(15, 11, 42);
    color: white;
    padding: 1em;
}

.cntr{
    align-items: center;
    justify-content: center;
}

.avatar{
    height: 120px;
    width: 120px;
    border: none;   
    border-radius: 50%;
    box-shadow: 2px 2px 4px black;
}



