.smain{
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    text-align: left;
    font-size: 13px;
    padding: 0.5em;
}
.smain:hover{
    background-color: #f2f2f2;
    color: blue;
}
.linkbut{
    padding-left: 1em;
    width:100%;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 13px;
}
.linkbut:hover{
    color:blue;
}
.blu{
    color:blue;
    background-color: #f2f2f2;
}
.blue{
    color:blue;
}



.menuhide{
    position: absolute;
    top: 20px;
    left: 27px;
    display: none;
}
.usrinfo{
    padding: 0.7em;
    background-color: #f8f6f6;
}

@media only screen and (max-width: 991px) {
    .menuhide{
        display: block;
    }
    .hideside{
        display: none;
    }
    .butful{
        font-size: 1rem !important;
    }
    .sbutton{
        font-size: unset;
    }
  }

  @media only screen and (min-width: 1500px){
    .butful, .sbutton{
        font-size: 1rem !important;
    }
  }
